<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }

			form{
				display: flex;
				flex-direction: column;
				width: 500px;
			}

			input{
				margin: 3px;
			}

			button{
				margin: 3px;
			}
    </style>
  </head>
  <body>
    <div>
      <h1>Products</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
						<th colspan="2" >Action</th>
          </tr>
        </thead>
        <tbody>
          {{range .}}
          <tr>
						<form action="update" method="PATCH">
							<input type="text" hidden name="id" value="{{.Id}}">
							<td><input type="text" name="name" value="{{.Name}}"/></td>
							<td><input type="text" name="description" value="{{.Description}}"/></td>
							<td><input type="text" name="price" value="{{.Price}}"/></td>
							<td><input type="text" name="quantity" value="{{.Quantity}}"/></td>
							<td><button>UPDATE</button></td>
						</form>

							<td><a href="/delete?id={{.Id}}"><button>DELETE</button></a></td>
          </tr>
          {{end}}
        </tbody>
      </table>
      <div>
        <h2>New product</h2>
				<form method="POST" action="insert">
					<label for="name">Name: </label></label><input id="name" name="name" type="text" />
					<label for="description">Description: </label><input id="description" name="description" type="text" />
					<label for="price">Price: </label><input id="price" name="price" type="number" />
					<label for="quantity">Quantity: </label><input id="quantity" name="quantity" type="number" />
					<div class=""><button>Send</button></div>
				</form>
      </div>
    </div>
  </body>
</html>
